HOME_DIR="./test/unit"

# The path to the template file containing body of mail message the is sent
# after mail credentials are changed.
export MAIL_TEMPLATE_FILE_PATH="$(readlink -f $HOME_DIR/templates/mail_credentials_changed.txt)"

# The path to the file containing base64 encoded company's logo that
# will be included in the mail message signature.
export LOGO_DATA_FILE_PATH="$(readlink -f $HOME_DIR/templates/logo_data.txt)"

export MAIL_CONFIG_CMDS="mail config settings"

# Recipient mail address.
export MAIL_TO="servicedesk@example.com"

# Mail message subject.
export SUBJECT="Mail credentials update"
